body{
    background-color: rgb(12,34,70);
   
}
*{
    margin: 0px;
    padding: 0px;
}
a:link, a:visited, a:hover{
    font-size: 20pt;
    text-decoration: none;
    color:blue;
    padding:18px;
    margin-top:24px;
}
h1{
    color:rgb(102,199,244);
    
    padding: 12px;

}

p{
    color: rgb(255,250,205);
    font-family: sans-serif;
    margin: 10px;
    margin-left: 22px;
    padding: 4px;
}
ul{
    color: rgb(255,250,205);
    padding-left: 50px;
    padding-bottom:10px;
}
h2{
    color:rgb(102,199,244);
    padding: 12px;
    padding-left:20px;
}
img{
    padding-left: 24px;
    padding-top: 14px;
}