/* Override a tag's presets by entering its name */
@font-face {
    /* Font family is what we are naming the font (like a variable name) */
    font-family: Sketch ;
     /* src is the location of the font */

    src: url(Fonts/Sketch\ Bego.otf);
}




body{
    background-color: rgb(12,34,56);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
p{
    color: rgb(255,255,255);
}
h1{
    color: rgb(236, 87, 102) ;
    font-family: Sketch;
}
h5{
    color: white ;
}
a:link, a:visited, a:hover{
    color: white;
    text-decoration: none;
}
.container{
    display: grid;
    grid-template-columns: 70% 30%;
}
.main-content{
    background-color: rgb(138,136,136);
    margin: 20px;
    padding: 50px;
    border-radius: 15px;
    overflow: hidden;

}
.secondary-content{
    background-color: rgb(138,136,136);
    margin:20px;
    padding:20px;
    border-radius: 15px;
    overflow: hidden;
}
.secondary-content img{
    max-width: 100%;
    height: auto;
    border: black, 2px dashed;
}